.character-details {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        'character-image'
        'random-details-card'
        'quiz-container';
}

.character-image {
    grid-area: character-image;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-details-card {
    grid-area: random-details-card;
    border: 6px solid black;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.quiz-container {
    grid-area: quiz-container;
    border: 6px solid black;
    border-radius: 6px;
}

@media screen and (min-width: 500px) {
    .character-details{
        margin: 0 auto;
        max-width: 51rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            'character-image random-details-card'
            'quiz-container quiz-container';
    }
}